<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A051F8C71F2865A20056DCC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A051F8DB1F2865A20056DCC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A051F8E61F2865A20056DCC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
